<a href="https://colab.research.google.com/github/Kashish-29/Titanic_survival_Prediction/blob/main/TitanicSurvival.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving titanic_survival.csv to titanic_survival.csv

In [ ]:
dataset = pd.read_csv('titanic_survival.csv')
dataset

     Pclass     Sex   Age      Fare  Survived
0         3    male  34.5    7.8292         0
1         3  female  47.0    7.0000         1
2         2    male  62.0    9.6875         0
3         3    male  27.0    8.6625         0
4         3  female  22.0   12.2875         1
..      ...     ...   ...       ...       ...
413       3    male   NaN    8.0500         0
414       1  female  39.0  108.9000         1
415       3    male  38.5    7.2500         0
416       3    male   NaN    8.0500         0
417       3    male   NaN   22.3583         0

[418 rows x 5 columns]

In [ ]:
print (dataset.shape)
print(dataset.head())

(418, 5)
   Pclass     Sex   Age     Fare  Survived
0       3    male  34.5   7.8292         0
1       3  female  47.0   7.0000         1
2       2    male  62.0   9.6875         0
3       3    male  27.0   8.6625         0
4       3  female  22.0  12.2875         1

Mapping the dataset

In [ ]:
gender = set(dataset['Sex'])
dataset['Sex']= dataset['Sex'].map({'female': 0, 'male': 1}).astype(int)
print(dataset.head())

   Pclass  Sex   Age     Fare  Survived
0       3    1  34.5   7.8292         0
1       3    0  47.0   7.0000         1
2       2    1  62.0   9.6875         0
3       3    1  27.0   8.6625         0
4       3    0  22.0  12.2875         1

Segregate dataset

In [ ]:
X= dataset.drop('Survived', axis= 'columns')
X

     Pclass  Sex   Age      Fare
0         3    1  34.5    7.8292
1         3    0  47.0    7.0000
2         2    1  62.0    9.6875
3         3    1  27.0    8.6625
4         3    0  22.0   12.2875
..      ...  ...   ...       ...
413       3    1   NaN    8.0500
414       1    0  39.0  108.9000
415       3    1  38.5    7.2500
416       3    1   NaN    8.0500
417       3    1   NaN   22.3583

[418 rows x 4 columns]

In [ ]:
y= dataset.Survived
y

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

Finding and Removing na values from our features X

In [ ]:
X.columns[X.isna().any()]

Index(['Age', 'Fare'], dtype='object')

In [ ]:
X.Age = X.Age.fillna(X.Age.mean())
X.Fare = X.Fare.fillna(X.Fare.mean())

Testing again to check

In [ ]:
X.columns[X.isna().any()]

Index([], dtype='object')

Splitting Dataset into Test and Train

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

Training

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train, y_train)

GaussianNB()

Predicting, whether person survived or not

In [ ]:
pClassNo= int(input("Enter Person's Pclass number: "))
gender= int(input("Enter Person's Gender: 0-Female, 1-Male  (0 or 1): "))
age = int(input("Enter Person's Age: "))
fare= float(input("Enter Person's Fare: "))
person = [[pClassNo, gender, age, fare]]
result = model.predict(person)
print(result)

if result==1:
  print("Person might be Survived")
else:
  print("Person might not be Survived")

Enter Person's Pclass number: 2
Enter Person's Gender: 0-Female, 1-Male  (0 or 1): 1
Enter Person's Age: 62
Enter Person's Fare: 9.6875
[0]
Person might not be Survived

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  "X does not have valid feature names, but"

Prediction for all test data

In [ ]:
y_pred = model.predict(X_test)
print(np.column_stack((y_pred, y_test)))

[[0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]]

Accuracy of our model

In [ ]:
from sklearn.metrics import accuracy_score
print("Accuracy of the Model: {0}%".format(accuracy_score(y_test, y_pred)*100))

Accuracy of the Model: 100.0%